rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /shipments/{shipmentId} {
      allow read: if true;  // Public tracking read
      allow create, update, delete: if request.auth != null && request.auth.token.role in ['admin','operator'];
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.token.role == 'admin';
    }

    match /settings/{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.role == 'admin';
    }
  }
}
